# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Environment variables
.env

# Docker
*.pid

# OS files
.DS_Store
Thumbs.db

# Qdrant storage (if not needed in repo)
qdrant_storage/
config/gcloud/